/* 0b0909   44444c  8c8c8c  d6d6d6 */

body::after {
    height: 0;
    width: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    content: url("../images/karan.png") url("../images/karan\ full\ dash.png");
  }

* {
    font-family: "Montserrat", sans-serif;
}

body::after {
    height: 0;
    width: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    content: url("../images/karan.png");
}

h1 {
    line-height: 1.5;
    size: 3rem;
}

#title {
    background-color: #0b0909;
}

.col-md-6 .img {
    width: auto;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.75s;
    background-image: url("../images/karan.png");
    margin: auto;
}

.img:hover {
    background-image: url("../images/karan\ full\ dash.png");
  }

.navbar-brand {
    color: #d6d6d6;
    margin-left: 16px;
    font-weight: 900;
}

.navbar-nav .nav-item .nav-link {
    color: #d6d6d6;
    text-align: center;
    font-weight: 900;
}

.row {
    color: #d6d6d6;
    align-items: center;
}

.col-md-6 {
    margin: 0px;
    justify-content: center;
    text-align: center;
    display: inline-block;
}

/* .typewritter {
  display: inline-block;
} */

.typetext {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 3px;
    animation: typing 5s steps(34, end), blink 0.75s step-end infinite;
    white-space: nowrap;
    font-size: 40px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #44444c;
    }
}

/* .page__lines {
  position: absolute;
  inset: 0;
  mask-image: linear-gradient(0deg, transparent, #222, #222);
  -webkit-mask-image: linear-gradient(0deg, transparent, #222, #222);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='30' height='30' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  background-position: bottom 1px center;
  background-color: hsla(0, 0%, 100%, .25)
} */

.skills,
body.dark .experience-personal__cards .personal-lists h3 a:after {
    background-image: linear-gradient(to bottom, #0b0909 0%, #44444c 100%);
}

.skills {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0px 72px
}

@media screen and (max-width:1340px) {
    .skills {
        padding: 0px 50px
    }
}

@media screen and (max-width:640px) {
    .skills {
        padding: 0px 50px
    }
}

.skills-section {
    z-index: 2;
    width: 100%;
    margin-bottom: 2rem
}

.skills-section__title {
    border-bottom: 1.25px solid #d6d6d6;
    margin-bottom: 1.5rem
}

.skills-section__title h2 {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .15rem;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px #d6d6d6
}

@media only screen and (max-width:640px) {
    .skills-section__title h2 {
        font-size: 1.5rem
    }
}

.skills-section__cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem
}

@media screen and (max-width:640px) {
    .skills-section__cards {
        justify-content: space-around;
        align-items: center;
        gap: 1.5rem
    }

    .skills-section__cards .card-icon img {
        width: 30px
    }
}

.skills-section__cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    --bs-card-border-color: none;
    background-color: transparent;
}

.skills-section__cards .card-icon {
    padding: 1rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease
}

.skills-section__cards .card-icon img {
    border-radius: .25rem;
    width: 40px
}

.skills-section__cards .card-icon:hover {
    transform: scale(.9);
    border-color: transparent !important
}

.skills-section__cards .card-icon:active {
    transform: scale(.8);
    border-color: transparent !important
}

.skills-section__cards .card h3 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .15rem;
    color: #d6d6d6
}

.skills-certif {
    z-index: 2;
    width: 100%;
    margin-bottom: 2rem
}

.skills-certif__title {
    border-bottom: 1.25px solid #d6d6d6;
    margin-bottom: 1.5rem
}

.skills-certif__title h2 {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .15rem;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px #d6d6d6
}

@media only screen and (max-width:640px) {
    .skills-certif__title h2 {
        font-size: 1.5rem
    }
}

.skills-certif__cards {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.skills-certif__cards li {
    display: flex;
    align-items: center;
    flex-shrink: 0
}

.skills-certif__cards li a {
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #d6d6d6
}

.skills-certif__cards li a span {
    font-size: 1.25rem;
    font-weight: 400;
    color: inherit
}

.skills-certif__cards li a svg {
    width: 15px
}

.skills-certif__cards li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d6d6d6;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .25s ease-in-out
}

.skills-certif__cards li a:hover:after {
    transform-origin: left;
    transform: scaleX(1)
}

body.dark .skills {
    background: #d6d6d6
}

body.dark .skills-section__title {
    border-color: #d6d6d6
}

body.dark .skills-section__title h2 {
    -webkit-text-stroke: 1.5px #d6d6d6
}

body.dark .skills-section__cards .card h3 {
    color: #d6d6d6
}

body.dark .skills-certif__title {
    border-color: #d6d6d6
}

body.dark .skills-certif__title h2 {
    -webkit-text-stroke: 1.5px #d6d6d6
}

body.dark .skills-certif__cards li a {
    color: #d6d6d6
}

body.dark .skills-certif__cards li a span {
    color: inherit
}

body.dark .skills-certif__cards li a:after {
    background: #d6d6d6
}

.overlay-text {
    position: relative;
    top: 0px;
    left: -30px;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    font-size: 5vw;
    margin-bottom: 50px;
    transform: none;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .20rem;
    color: transparent;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #0b0909, #d6d6d6);
    background-clip: text;
    -webkit-background-clip: text;
}

.btn-dark {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background-color: #0b0909;
}

.btn-dark:hover {
    box-shadow: 0 0 10px 0 #d6d6d6, 0 0 20px 2px #d6d6d6;
    border: 1px solid #d6d6d6;
}